a {
  text-decoration: none;
}

.no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vertical a {
  display: block;
  width: 120px;
  color: #fff;
  background-color: #98bf21;
  text-align: center;
  padding: 4px;
}

.vertical a:hover,
.vertical a:active {
  background-color: #7a991a;
}
