body {
  background-color: rgb(195, 212, 244);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, minmax(100px, 1fr)); */
  grid-template-rows: 35px 1fr 100px;

  min-height: 100vh;
  grid-template-areas:
    "header header header"
    "content content sidebar " /* dibujando con css el area */
    "footer footer footer";
}

.container header {
  background: #09f;
  /* grid-column: 1/ -1; */
  grid-area: header;
}

.container aside {
  background: yellow;
  grid-area: sidebar;
}

.container main {
  background: red;
  /* grid-column: span 2; */
  grid-area: content;
}

.container footer {
  background: gray;
  /* grid-column: 1/-1; */
  grid-area: footer;
}

body {
  margin: 0;
}
