.margin-10,
.margin-20,
.margin-30 {
  border: 1px solid #000;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

#contentBox, #borderBox {
  border: 5px solid #000;
  width: 200px;
  padding: 15px;
}

#contentBox {
  box-sizing: content-box;
}

#borderBox {
  box-sizing: border-box;
}
